<h1>Signup</h1>
<form class="pure-form pure-form-stacked">
	<fieldset>
		<label for="username">Username</label>
		<input id="username" type="text" placeholder="Username">
	
		<label for="password">Password</label>
		<input id="password" type="password" placeholder="Password">

		<label for="password2">Verify Password</label>
		<input id="password2" type="password" placeholder="Password">

		<button type="submit" class="pure-button pure-button-primary">Sign
up</button>
	</fieldset>
</form>
