<h1>Signup</h1>
<form>
		<input name="username" type="text" placeholder="Username">
		<input name="password" type="password" placeholder="Password">
		<input name="password2" type="password" placeholder="Verify Password">

		<button type="submit">Sign up</button>
</form>
<p>Already have an account? <a href="/login">Log in</a></p>
