<div id="menu">
	<div>
		<a href="/">Portfolio CMS</a>
		<ul>
			<li>
				<a href="/projects/">Projects</a>
			</li>
			<li>
				<a href="/blogposts/">Blog Posts</a>
			</li>
			<li>
				<a href="/settings">Settings</a>
			</li>
			<li>
				<a href="/logout/">Log out</a>
			</li>
		</ul>
	</div>
</div>
