<h1>This is {{user.id}}'s settings page</h1>
<p>Eventually you'll configure stuff here, such as edit email, password, api
secret and maybe some other things<p>
<p>Your secret is:<pre>{{user.secret}}</pre></p>
