<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Portfolio CMS</title>
</head>
<body>
	<div id="layout">
		{{#unless hideNav}}
			{{> menu }}
		{{/unless}}
		<div id="main">
			{{{ body }}}
		</div>
	</div>
</body>
</html>
